In [1]:
# Import the package for mysql
import mysql.connector

In [8]:
# Connecting To the Database in Localhost
dbcon = mysql.connector.connect(user='root', password='K@090403$s',
                              host='localhost', database='pytables')
print("Database Connection Established")

Database Connection Established

In [11]:
# Cursor to the database
Cursor = dbcon.cursor()
print("Database Cursor Created Successfully")

Database Cursor Created Successfully

In [12]:
# Create table Student_Master
TableCreateScript = "CREATE TABLE Student_Master(Roll_no int,Name VARCHAR(100));"
Cursor.execute(TableCreateScript)
print("Table Created Successfully")

Table Created Successfully

In [14]:
# Common query for the insert record 
sql="Insert into Student_Master (Roll_No, Name) values (%s,%s)"

In [15]:
# Insert of one record into the table
val = (1,"Saravanan Shanmugham")
Cursor.execute(sql, val)
dbcon.commit()
print(Cursor.rowcount, "Records inserted")

1 Records inserted

In [16]:
# Insert of multiple records to the table
val=[
    (2,"Karthick Srinivas"),
    (3, "Sujaya Saravanan"),
    (4, "Shyam Sundar"),
    (5, "Mahaboob Basha")
    ]
Cursor.executemany(sql, val)
dbcon.commit()
print(Cursor.rowcount, "Records inserted")

4 Records inserted

In [17]:
# selecting all records from the table - only Roll_No, Name columns from the table

myquery = "select Roll_No, Name from Student_Master"
Cursor.execute(myquery)
  
myresult = Cursor.fetchall()
  
for x in myresult:
    print(x)

(1, 'Saravanan Shanmugham')
(2, 'Karthick Srinivas')
(3, 'Sujaya Saravanan')
(4, 'Shyam Sundar')
(5, 'Mahaboob Basha')

In [18]:
# selecting the records only the students roll_no greater than 3

myquery = "select Roll_No, Name from Student_Master where Roll_No>3"
Cursor.execute(myquery)
  
myresult = Cursor.fetchall()
  
for x in myresult:
    print(x)

(4, 'Shyam Sundar')
(5, 'Mahaboob Basha')

In [19]:
# Select all records and provide the output in ascending order

myquery = "select Roll_No, Name from Student_Master order by Name ASC"
Cursor.execute(myquery)
  
myresult = Cursor.fetchall()
  
for x in myresult:
    print(x)

(2, 'Karthick Srinivas')
(5, 'Mahaboob Basha')
(1, 'Saravanan Shanmugham')
(4, 'Shyam Sundar')
(3, 'Sujaya Saravanan')

In [20]:
# Select all records and provide the output in decending order

myquery = "select Roll_No, Name from Student_Master order by Name DESC"
Cursor.execute(myquery)
  
myresult = Cursor.fetchall()
  
for x in myresult:
    print(x)

(3, 'Sujaya Saravanan')
(4, 'Shyam Sundar')
(1, 'Saravanan Shanmugham')
(5, 'Mahaboob Basha')
(2, 'Karthick Srinivas')

In [21]:
# deleting the row with Roll_No is equal to 1 (1,"Saravanan Shanmugham")

query = "delete from student_master where Roll_no=1"
Cursor.execute(query)
dbcon.commit()

myquery="select * from student_master"
Cursor.execute(myquery)
myresult = Cursor.fetchall()
for x in myresult:
    print(x)

(2, 'Karthick Srinivas')
(3, 'Sujaya Saravanan')
(4, 'Shyam Sundar')
(5, 'Mahaboob Basha')

In [22]:
# Update the student name with roll_no = 5

query = "update student_master set Name ='Aarif Basha' where Roll_no=5"
Cursor.execute(query)
dbcon.commit()

myquery="select * from student_master"
Cursor.execute(myquery)
myresult = Cursor.fetchall()
for x in myresult:
    print(x)

(2, 'Karthick Srinivas')
(3, 'Sujaya Saravanan')
(4, 'Shyam Sundar')
(5, 'Aarif Basha')

In [23]:
# Insert of more multiple records to the table

sql="Insert into Student_Master (Roll_No, Name) values (%s,%s)"
val=[
    (6, "Mazhar Basha"),
    (7, "Sivakumar Ramachandran"),
    (8, "Arya Sivakumar"),
    (9, "Aravind Sivakumar"),
    (10, "Vadivel Kumarasamy")
    ]
Cursor.executemany(sql, val)
dbcon.commit()
print(Cursor.rowcount, "Records inserted")

5 Records inserted

In [24]:
# Select query for all records and limit the output by 5 records

myquery="select * from Student_Master Limit 5"
Cursor.execute(myquery)
myresult = Cursor.fetchall()
for x in myresult:
    print(x)

(2, 'Karthick Srinivas')
(3, 'Sujaya Saravanan')
(4, 'Shyam Sundar')
(5, 'Aarif Basha')
(6, 'Mazhar Basha')

In [25]:
# Select query for all records and limit the output by 5 records by skipping 2 top 2 records

myquery="select * from Student_Master Limit 5 offset 2"
Cursor.execute(myquery)
myresult = Cursor.fetchall()
for x in myresult:
    print(x)

(4, 'Shyam Sundar')
(5, 'Aarif Basha')
(6, 'Mazhar Basha')
(7, 'Sivakumar Ramachandran')
(8, 'Arya Sivakumar')

In [26]:
# Drop the table from the database

table_name="Student_Master"
myquery = "Drop Table " + table_name
print(myquery)
Cursor.execute(myquery)
print("Table ",table_name, "Droped from Database")

Drop Table Student_Master
Table  Student_Master Droped from Database

In [27]:
# Close the db connection
dbcon.close()