In [2]:
import mysql.connector as dbc
import pandas as pd

In [3]:
# Connecting To the Database in Localhost
dbcon = dbc.connect(user='root', password='K@090403$s',
                              host='localhost', database='pytables')
print("Database Connection Established")

Database Connection Established

In [4]:
# Cursor to the database
Cursor = dbcon.cursor()
print("Database Cursor Created Successfully")

Database Cursor Created Successfully

In [5]:
myquery = (
"select a.CustomerName, b.InvoiceNumber, c.Quantity, c.UnitCost, c.UnitPrice "
"from CustomerMaster a, InvoiceHeader b, InvoiceDetails c "
"where "
"a.CustomerID=b.CustomerID and "
"b.invoiceNumber =c.InvoiceNumber"
)

In [6]:
Cursor.execute(myquery)
df = pd.DataFrame(Cursor.fetchall())
df.columns = ['CustomerID', 'InvoiceNumber','Quantity','UnitCost','UnitPrice']

In [8]:
df

                       CustomerID InvoiceNumber  Quantity  UnitCost  UnitPrice
0               Castle Inn Resort     ORDST1022         1     59.29     119.95
1      Metropolitan Fiber Systems     ORDST1015         1   3290.55    6589.95
2            Bakers Emporium Inc.     ORDST1016        10     35.00      34.95
3    Leisure & Travel Consultants     ORDST1017        50     91.59     189.95
4            Country View Estates     ORDST1018         1     59.29     119.95
..                            ...           ...       ...       ...        ...
595     Kensington Gardens Resort       ORD1006         1   3290.55    6589.95
596                  Astor Suites       ORD1007         3      4.55       9.95
597         Aaron Fitz Electrical       ORD1008         1      3.29       9.95
598     Magnificent Office Images       ORD1000         1    179.85     359.95
599   Holling Communications Inc.       ORD1001         2     27.98      59.95

[600 rows x 5 columns]

In [9]:
dbcon.close()