# Tips -  Create New Column Based on Existing Column

In [1]:
import numpy as np
import pandas as pd

Stack**OverFlow** Reference [Link](https://stackoverflow.com/questions/48369929/creating-a-new-column-based-on-the-values-of-other-columns)

*****

#### Dataset Details: Insurance Data (Kaggle Course)

In [2]:
# Import the dataset
insurance = pd.read_csv("C:/MyLearn/DataSet/Pandas/insurance.csv")

* Column `sex` and `smoker` is object type. Need to have coded to use in the visualization - like Scatter plot. 
* The following are the tested methods to add new column based a existing column

In [3]:
%%time
# Option 1
insurance['sex_code'] = (insurance.apply(lambda x: 1 if (x['sex']=='female') else 0, axis=1))
insurance['smoker_code'] = (insurance.apply(lambda x: 0 if (x['smoker']=='no') else 1, axis=1))

CPU times: total: 93.8 ms
Wall time: 99.4 ms

In [ ]:
insurance.drop('sex_code', axis=1, inplace=True)
insurance.drop('smoker_code', axis=1, inplace=True)

In [ ]:
%%time
# Option 2
insurance['sex_code'] = np.where((insurance['sex']=='female'), 1, 0)
insurance['smoker_code'] = np.where((insurance['smoker']=='yes'), 1, 0)

In [ ]:
insurance.drop('sex_code', axis=1, inplace=True)
insurance.drop('smoker_code', axis=1, inplace=True)

In [ ]:
%%time
# option 3
insurance['sex_code'] = ((insurance['sex']=='female')).map({True:1, False:0})
insurance['smoker_code'] = ((insurance['smoker']=='yes')).map({True:1, False:0})

In [ ]:
insurance.drop('sex_code', axis=1, inplace=True)
insurance.drop('smoker_code', axis=1, inplace=True)

In [ ]:
%%time
#option 4
insurance.loc[insurance['sex']=='female', 'sex_code'] = 1
insurance['sex_code'].fillna(0, inplace=True)

insurance.loc[insurance['smoker']=='yes', 'smoker_code'] = 1
insurance['smoker_code'].fillna(0, inplace=True)

In [ ]:
def check_sex(x):
    if (x == 'female'):
        return 1
    return 0

def check_smoker(x):
    if (x == 'yes'):
        return 1
    return 0

In [ ]:
insurance.drop('sex_code', axis=1, inplace=True)
insurance.drop('smoker_code', axis=1, inplace=True)

In [ ]:
%%time
# Option 5
insurance['sex_code']= insurance['sex'].apply(check_sex)
insurance['smoker_code']= insurance['smoker'].apply(check_smoker)

In [ ]:
insurance.info()

In [ ]:
insurance.describe()

In [8]:
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

****