In [1]:
import numpy as np
import pandas as pd

In [2]:
# Import the dataset
insurance = pd.read_csv("C:/MyLearn/DataSet/Visualization/insurance.csv")

In [3]:
insurance.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [4]:
def sex_code(x):
    if (x=='female'):
        return 1
    return 0

def smoker_code(x):
    if (x=='yes'):
        return 1
    return 0

In [5]:
%%time
# Option 1 - Using Apply - funtion definition

insurance['sex_code']=insurance['sex'].apply(sex_code)
insurance['smoker_code']=insurance['smoker'].apply(smoker_code)

CPU times: total: 0 ns
Wall time: 4.97 ms

In [6]:
%%time
# Option 2 - Using Apply & Lambda funtion

insurance['sex_code'] = insurance['sex'].apply(lambda x: 1 if (x=='female') else 0)
insurance['smoker_code'] = insurance['smoker'].apply(lambda x: 1 if (x=='yes') else 0)

CPU times: total: 0 ns
Wall time: 1.7 ms

In [7]:
%%time
# Option 3 - Using np.where

insurance['sex_code'] = np.where((insurance['sex']=='female'), 1, 0)
insurance['smoker_code'] = np.where((insurance['smoker']=='yes'), 1, 0)

CPU times: total: 0 ns
Wall time: 1.23 ms

In [8]:
%%time
# Option 4 - Using map funtion definition

insurance['sex_code'] = ((insurance['sex']=='female')).map({True:1, False:0})
insurance['smoker_code'] = ((insurance['smoker']=='yes')).map({True:1, False:0})

CPU times: total: 0 ns
Wall time: 3.01 ms

In [9]:
%%time
# Option 5 - df.loc & and fillna

insurance.loc[insurance['sex']=='female', 'sex_code'] = 1
insurance['sex_code'] = insurance['sex_code'].fillna(0)

insurance.loc[insurance['smoker']=='yes', 'smoker_code'] = 1
insurance['smoker_code'] = insurance['smoker_code'].fillna(0)

CPU times: total: 0 ns
Wall time: 1.89 ms

****