In [1]:
import numpy as np
import pandas as pd

In [22]:
# Import the dataset - Nifty 50 for Year 2018

nifty2018 = pd.read_csv("../DataSets/Nifty2018.csv", index_col=0)
nifty2019 = pd.read_csv("../DataSets/Nifty2019.csv", index_col=0)
nifty2020 = pd.read_csv("../DataSets/Nifty2020.csv", index_col=0)
niftyNxt502019 = pd.read_csv("../DataSets/NiftyNext502019.csv", index_col=0)

In [23]:
nifty2018.tail(5)

,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
Date,,,,,,
24-Dec-2018,10780.90,10782.30,10649.25,10663.50,230291344,10695.60
26-Dec-2018,10635.45,10747.50,10534.55,10729.85,271942701,12831.99
27-Dec-2018,10817.90,10834.20,10764.45,10779.80,470160392,19119.88
28-Dec-2018,10820.95,10893.60,10817.15,10859.90,253086507,12615.01
31-Dec-2018,10913.20,10923.55,10853.20,10862.55,186494657,10176.13

In [17]:
nifty2019.head(5)

,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
Date,,,,,,
01-Jan-2019,10881.70,10923.60,10807.10,10910.10,159404542,8688.26
02-Jan-2019,10868.85,10895.35,10735.05,10792.50,309665939,15352.25
03-Jan-2019,10796.80,10814.05,10661.25,10672.25,286241745,15030.45
04-Jan-2019,10699.70,10741.05,10628.65,10727.35,296596655,14516.74
07-Jan-2019,10804.85,10835.95,10750.15,10771.80,269371080,12731.29

In [18]:
nifty2020.head(5)

,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
Date,,,,,,
01-Jan-2020,12202.15,12222.20,12165.30,12182.50,304078039,10445.68
02-Jan-2020,12198.55,12289.90,12195.25,12282.20,407697594,15256.55
03-Jan-2020,12261.10,12265.60,12191.35,12226.65,428770054,16827.27
06-Jan-2020,12170.60,12179.10,11974.20,11993.05,396501419,16869.22
07-Jan-2020,12079.10,12152.15,12005.35,12052.95,447818617,17797.68

In [19]:
niftyNxt502019.head()

,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
Date,,,,,,
01-Jan-2019,28243.95,28252.20,27988.60,28111.65,100916543,2354.60
02-Jan-2019,28074.05,28188.40,27801.75,27876.95,167334185,3410.28
03-Jan-2019,27874.05,28045.30,27630.20,27674.65,175238949,3362.20
04-Jan-2019,27707.20,27842.75,27533.90,27719.50,163387940,3295.06
07-Jan-2019,27893.95,27932.00,27652.95,27706.60,135700262,2862.02

## Combine Data Sources

In [ ]:
# Check the shape of the dataframes

print(nifty2018.shape, nifty2019.shape, nifty2020.shape)

In [ ]:
# Concatinate the datasets

nifty50 = pd.concat([nifty2018, nifty2019, nifty2020])

In [ ]:
nifty50.shape

In [ ]:
nifty50.describe()

In [ ]:
nifty50.info()

In [ ]:
niftyNext50 = pd.concat([nifty2019, niftyNxt502019], axis=1,
                       keys=['Nifty50','NiftyNext50'])

In [ ]:
niftyNext50.head()

In [ ]:
niftyNext50.describe()

In [ ]:
niftyNext50['Nifty50'][['Open','Close']]

In [ ]:
niftyNext50.xs(('High'), axis=1, level=1)

In [ ]:
niftyNext50['Nifty50'].loc['31-Dec-2019']

Tasks on the NIFTY datasets:

1. In 2019, in how many days was the NIFTY50 volatile (high > 105% of low)

2. In 2019, in how many days was the NIFTYNEXT50 volatile (high > 105% of low)

3. In 2019, how many days belonged to the four classes NIFTY50 volatile / non-volatile and NIFTYNext50 volatile / non-volatile

4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019

5. Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019

6. On the days in which NIFTY50 closed higher than the open, what was the mean of (close - open) for NIFTYNext50

7. In 2019, how many days had the day's high lower than the previous day's low in NIFTY50

8. In 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY