In [1]:
import numpy as np
import pandas as pd

In [6]:
mass ={
    'Mercury':0.330,
    'Venus':4.87,
    'Earth':5.97,
    'Moon':0.073,
    'Mars':0.642,
    'Jupiter':1898,
    'Saturn':568,
    'Uranus':86.8,
    'Neptune':102,
    'Pluto':0.0130
}

mass_series = pd.Series(mass)

In [7]:
mass_series

Mercury       0.330
Venus         4.870
Earth         5.970
Moon          0.073
Mars          0.642
Jupiter    1898.000
Saturn      568.000
Uranus       86.800
Neptune     102.000
Pluto         0.013
dtype: float64

In [8]:
diameter ={
    'Mercury':4879,
    'Venus':12104,
    'Earth':12756,
    'Moon':3475,
    'Mars':6792,
    'Jupiter':142984,
    'Saturn':120536,
    'Uranus':51118,
    'Neptune':49528,
    'Pluto':2376
}

dia_series = pd.Series(diameter)

In [35]:
planetary_data=pd.DataFrame({'Mass':mass_series,
                             'Diameter':dia_series})

In [36]:
planetary_data

             Mass  Diameter
Mercury     0.330      4879
Venus       4.870     12104
Earth       5.970     12756
Moon        0.073      3475
Mars        0.642      6792
Jupiter  1898.000    142984
Saturn    568.000    120536
Uranus     86.800     51118
Neptune   102.000     49528
Pluto       0.013      2376

In [38]:
planetary_data['Density']=planetary_data ['Mass']/((4/3)*np.pi*
                          np.power((planetary_data['Diameter']/2),3))

In [39]:
planetary_data

             Mass  Diameter       Density
Mercury     0.330      4879  5.426538e-12
Venus       4.870     12104  5.244977e-12
Earth       5.970     12756  5.493286e-12
Moon        0.073      3475  3.322460e-12
Mars        0.642      6792  3.913302e-12
Jupiter  1898.000    142984  1.240039e-12
Saturn    568.000    120536  6.194402e-13
Uranus     86.800     51118  1.241079e-12
Neptune   102.000     49528  1.603427e-12
Pluto       0.013      2376  1.850996e-12