In [2]:
import numpy as np
import pandas as pd

In [4]:
nifty_data = pd.read_csv("../DataSets/nifty.csv", index_col=0).iloc[:, 0]

In [5]:
nifty_data

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

### Task 1
1. What fraction of days did the markets close higher than the previous day's close

**Important Point to be noted in this exercise**

* Pandas first align the index key - means map the index key of pandas ``Series`` or ``DataFra`` then execute the operation on it.

Idea is to slice the Series 
- object 1 as index 0 to last but one element
- Object 2 as index 1 to last element

Object 1 has the 0 element and object 2 has 1 element as fist element. Let us try this approch

In [6]:
#  object 1 as index 0 to last but one element
# you can see 31st Dec 2019 is excluded

nifty_data[0:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
                 ...
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [7]:
#  object 2 as index 1 to last element
# you can see 31st Dec 2019 is included and 1st Jan is excluded

nifty_data[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
                 ...
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [8]:
nifty_data[1:] - nifty_data[0:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
              ...
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

To our surprise, all the values are zero and NaN for the missing dates. This is due to the fact, Pandas align the index key first and exeucte the operation. Hence the result is 0.

Alternate solution is to skip the Index keys and use only values with similar approch of slicing

In [9]:
np.sum((nifty_data.values[1:] - 
        nifty_data.values[:-1]) > 0)/len(nifty_data)

0.5265306122448979


----

### Task 2

1. Compute moving average of the last 5 days
2. Subset the data to include only data for Fridays

#### 1. Compute moving average of the last 5 days

In [10]:
Rolling_mean = nifty_data.rolling(5).mean()
print(Rolling_mean)

Date
01-Jan-2019         NaN
02-Jan-2019         NaN
03-Jan-2019         NaN
04-Jan-2019         NaN
07-Jan-2019    10774.80
                 ...
24-Dec-2019    12246.09
26-Dec-2019    12227.07
27-Dec-2019    12224.29
30-Dec-2019    12221.10
31-Dec-2019    12202.24
Name: Close, Length: 245, dtype: float64

#### 2. Subset the data to include only data for Fridays

In [11]:
nifty_data[pd.to_datetime(nifty_data.index).day_of_week==4]

Date
04-Jan-2019    10727.35
11-Jan-2019    10794.95
18-Jan-2019    10906.95
25-Jan-2019    10780.55
01-Feb-2019    10893.65
08-Feb-2019    10943.60
15-Feb-2019    10724.40
22-Feb-2019    10791.65
01-Mar-2019    10863.50
08-Mar-2019    11035.40
15-Mar-2019    11426.85
22-Mar-2019    11456.90
29-Mar-2019    11623.90
05-Apr-2019    11665.95
12-Apr-2019    11643.45
26-Apr-2019    11754.65
03-May-2019    11712.25
10-May-2019    11278.90
17-May-2019    11407.15
24-May-2019    11844.10
31-May-2019    11922.80
07-Jun-2019    11870.65
14-Jun-2019    11823.30
21-Jun-2019    11724.10
28-Jun-2019    11788.85
05-Jul-2019    11811.15
12-Jul-2019    11552.50
19-Jul-2019    11419.25
26-Jul-2019    11284.30
02-Aug-2019    10997.35
09-Aug-2019    11109.65
16-Aug-2019    11047.80
23-Aug-2019    10829.35
30-Aug-2019    11023.25
06-Sep-2019    10946.20
13-Sep-2019    11075.90
20-Sep-2019    11274.20
27-Sep-2019    11512.40
04-Oct-2019    11174.75
11-Oct-2019    11305.05
18-Oct-2019    11661.85
25-Oct-2019    11583.90
01-Nov-2019    11890.60
08-Nov-2019    11908.15
15-Nov-2019    11895.45
22-Nov-2019    11914.40
29-Nov-2019    12056.05
06-Dec-2019    11921.50
13-Dec-2019    12086.70
20-Dec-2019    12271.80
27-Dec-2019    12245.80
Name: Close, dtype: float64

#### Solution Provided by Professor

In [12]:
new_index = map(pd.Timestamp, nifty_data.index)

In [13]:
new_nifty = pd.Series(nifty_data.values, index=new_index)

In [14]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
                ...
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Length: 245, dtype: float64

In [15]:
new_nifty.index[0]

Timestamp('2019-01-01 00:00:00')

In [16]:
new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
                  ...
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Length: 245, dtype: float64

In [17]:
dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [18]:
new_nifty[dow == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
dtype: float64


----