# Simple Scatter Plots

In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
plt.style.use('seaborn-whitegrid')
%matplotlib inline

*****

#### Dataset Details: Insurance Data (Kaggle Course)

In [64]:
# Import the dataset
insurance = pd.read_csv("../DataSets/Visualization/insurance.csv")

In [58]:
%%time
# Option 1
insurance['sex_code'] = (insurance.apply(lambda x: 1 if (x['sex']=='female') else 0, axis=1))
insurance['smoker_code'] = (insurance.apply(lambda x: 0 if (x['smoker']=='no') else 1, axis=1))

Wall time: 37 ms

In [60]:
%%time
# Option 2
insurance['sex_code'] = np.where((insurance['sex']=='female'), 1, 0)
insurance['smoker_code'] = np.where((insurance['smoker']=='yes'), 1, 0)

Wall time: 1.97 ms

In [63]:
%%time
# option 3
insurance['sex_code'] = ((insurance['sex']=='female')).map({True:1, False:0})
insurance['smoker_code'] = ((insurance['smoker']=='yes')).map({True:1, False:0})

Wall time: 3.97 ms

In [65]:
%%time
#option 4
insurance.loc[insurance['sex']=='female', 'sex_code'] = 1
insurance['sex_code'] = insurance['sex_code'].fillna(0)

insurance.loc[insurance['smoker']=='yes', 'smoker_code'] = 1
insurance['smoker_code'] = insurance['smoker_code'].fillna(0)

Wall time: 18.5 ms

In [47]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          1338 non-null   int64
 1   sex          1338 non-null   object
 2   bmi          1338 non-null   float64
 3   children     1338 non-null   int64
 4   smoker       1338 non-null   object
 5   region       1338 non-null   object
 6   charges      1338 non-null   float64
 7   sex_code     1338 non-null   int64
 8   smoker_code  1338 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 94.2+ KB

In [48]:
insurance.describe()

,age,bmi,children,charges,sex_code,smoker_code
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,30.663397,1.094918,13270.422265,0.494768,0.204783
std,14.049960,6.098187,1.205493,12110.011237,0.500160,0.403694
min,18.000000,15.960000,0.000000,1121.873900,0.000000,0.000000
25%,27.000000,26.296250,0.000000,4740.287150,0.000000,0.000000
50%,39.000000,30.400000,1.000000,9382.033000,0.000000,0.000000
75%,51.000000,34.693750,2.000000,16639.912515,1.000000,0.000000
max,64.000000,53.130000,5.000000,63770.428010,1.000000,1.000000

In [49]:
insurance.head()

,age,sex,bmi,children,smoker,region,charges,sex_code,smoker_code
0,19,female,27.900,0,yes,southwest,16884.92400,1,1
1,18,male,33.770,1,no,southeast,1725.55230,0,0
2,28,male,33.000,3,no,southeast,4449.46200,0,0
3,33,male,22.705,0,no,northwest,21984.47061,0,0
4,32,male,28.880,0,no,northwest,3866.85520,0,0

****

#### Documentation of the Matplotlib functions used
```python

matplotlib.pyplot.scatter(x, y, 
                          s=None, c=None, 
                          marker=None, cmap=None, 
                          norm=None, vmin=None, vmax=None, 
                          alpha=None, linewidths=None, *, 
                          edgecolors=None, plotnonfinite=False, 
                          data=None, **kwargs)

```
* [matplotlib.pyplot.scatter](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.scatter.html)

* Another commonly used plot type is the simple scatter plot, a close cousin of the line plot.
* Instead of points being joined by line segments, here the points are represented individually with a dot, circle, or other shape.

## Scatter Plots with ``plt.plot``

In the previous section we looked at ``plt.plot``/``ax.plot`` to produce line plots.
It turns out that this same function can produce scatter plots as well:

In [ ]:
# The third argument in the function call is a character that represents the type of symbol used for the plotting.

age = insurance['age']
bmi = insurance['bmi']
sex_code = insurance['sex_code']
smoker_code = insurance['smoker_code']

plt.plot(age, bmi, '.', color='c');

## Scatter Plots with ``plt.scatter``

A second, more powerful method of creating scatter plots is the ``plt.scatter`` function, which can be used very similarly to the ``plt.plot`` function:

In [ ]:
plt.scatter(age, bmi, marker='.', color='c');

The primary difference of ``plt.scatter`` from ``plt.plot`` is that 
* it can be used to create scatter plots where the properties of each individual point (size, face color, edge color, etc.) can be individually controlled or mapped to data.
* In order to better see the overlapping results, we'll also use the ``alpha`` keyword to adjust the transparency level:

Notice that the color argument is automatically mapped to a color scale (shown here by the ``colorbar()`` command), and that the size argument is given in pixels.
In this way, the color and size of points can be used to convey information in the visualization, in order to visualize multidimensional data.

For example, we might use the Iris data from Scikit-Learn, where each sample is one of three types of flowers that has had the size of its petals and sepals carefully measured:

In [ ]:
age_male = insurance[insurance['sex_code']==1]['age']
bmi_male = insurance[insurance['sex_code']==1]['bmi']
age_female = insurance[insurance['sex_code']==0]['age']
bmi_female = insurance[insurance['sex_code']==0]['bmi']
charges = np.array([x  for x in insurance['charges']])

In [ ]:
plt.scatter(age, bmi, s=charges/1000, c=sex_code, alpha=0.8, cmap='Dark2' )
plt.axis('auto')
plt.axis([10,70,10,60])
plt.title('Scatter Plot Age Vs BMI')
plt.xlabel('Age')
plt.ylabel('BMI');

In [ ]:
# Example to demo how the size and color is working in scatter plot

# make the data
x = np.array([150, 300, 450, 600, 750, 900])
y = np.array([1000, 3000, 5000, 7000, 9000, 11000])


# size and color:
sizes =  np.array([100, 500, 200, 1000, 400, 1500])
colors = np.random.uniform(10, 30, len(x))
plt.axis([0,1000,-2000,14000])
plt.scatter(x, y, s=sizes, c=colors, cmap='Dark2');

In [ ]:
from sklearn.datasets import load_iris
iris = load_iris()
features = iris.data.T

plt.scatter(features[0], features[1], alpha=0.2,
            s=100*features[3], c=iris.target, cmap='viridis')
plt.xlabel(iris.feature_names[0])
plt.ylabel(iris.feature_names[1])
plt.legend(['First', 'Second','Third','Forth']);

We can see that this scatter plot has given us the ability to simultaneously explore four different dimensions of the data:
the (x, y) location of each point corresponds to the sepal length and width, the size of the point is related to the petal width, and the color is related to the particular species of flower.
Multicolor and multifeature scatter plots like this can be useful for both exploration and presentation of data.

## ``plot`` Versus ``scatter``: A Note on Efficiency

Aside from the different features available in ``plt.plot`` and ``plt.scatter``, why might you choose to use one over the other? While it doesn't matter as much for small amounts of data, as datasets get larger than a few thousand points, ``plt.plot`` can be noticeably more efficient than ``plt.scatter``.
The reason is that ``plt.scatter`` has the capability to render a different size and/or color for each point, so the renderer must do the extra work of constructing each point individually.
In ``plt.plot``, on the other hand, the points are always essentially clones of each other, so the work of determining the appearance of the points is done only once for the entire set of data.
For large datasets, the difference between these two can lead to vastly different performance, and for this reason, ``plt.plot`` should be preferred over ``plt.scatter`` for large datasets.

****